<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProductDetail</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./ProductDetail.css">
</head>
<body>
  <div class = "main-wrapper">
    <div class = "container">
      <div class="product-div">
        <div class="product-div-left">
          <div class="img-container">
            <img src="../images/detailImages/50s/50s_blue.png" alt="underwear image">
          </div>
          <div class="hover-container">
            <div><img src="../images/detailImages/50s/50s_blue.png" alt=""></div>
            <div><img src="../images/detailImages/50s/50s_green.png" alt=""></div>
            <div><img src="../images/detailImages/50s/50s_white.png" alt=""></div>
            <div><img src="../images/detailImages/50s/50s_gray.png" alt=""></div>
          </div>
        </div>

        <div class="product-div-right">
          <span class="product-name">AIRBUM 男士 50s 内裤</span>
          <div class="product-size">
            <p>Size:</p>
            <div class="psize">S</div>
            <div class="psize">M</div>
            <div class="psize">L</div>
            <div class="psize">XL</div>
            <div class="psize">XXL</div>
          </div>
          <!-- <div class="product-rating">
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span><i class="fas fa-star-half-alt"></i></span>
            <span>(250 ratings)</span>
          </div> -->
            <p class="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsam harum eaque fugit. Illum quasi, molestiae, voluptate asperiores ut vero aperiam nostrum repellat, non unde in saepe dignissimos? Repellat, eum?</p>
            <!-- <div class="btn-groups">
              <button type="button" class="add-cart-btn"><i class="fas fa-shopping-cart"></i> add to cart</button>
              <button type="button" class="buy-now-btn"><i class="fas fa-wallet"></i> buy now</button>
            </div> -->
          </div>
        </div>
        <div class="desc-imgs">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-01.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-02.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-03.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-04.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-05.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-06.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-07.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-08.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-09.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-10.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-11.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-12.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-13.jpg" alt="">
          <img src="../images/detailImages/50s/desc-pics/50s_desc-14.jpg" alt="">
        </div>
      </div>
    </div>

  <script src="./ProductDetail.js"></script>
</body>
</html>